name: Build/Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.4'

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Build
        run: pyinstaller main.py --onefile --noconsole --icon="./assets/img/VLaunch.ico" --name VLaunch.exe --add-data="assets;assets"

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: VLaunch ${{ github.github.ref_name }}
          files: |
            dist/VLaunch.exe
          draft: true
          prerelease: contains( github.ref_name, 'beta' )